/*
	CSS Syntax
	Rule set

	selector {
		
		property: value;
	}

*/
/*
	universal selector - select all elements
*/
* {
	/*font-family changes the font
		font-family:"Font name",fallbackfont;
			fallback font is the backup in the event that main font is not loaded

	font-size = changes the size of text. default is 16px		
	*/


	font-family:"Courier New", monospace;
	font-size: 20px;

}

/*
	type selector - select all elements of the same type
*/


h1 {
	/*
		color property = changes color
		text-align = potition your text
		rem = num x the default size of the root element
		
		2rem = 2 x root element font size
		2rem = 2 x 20px (as declared in universal selector)
		2rem = 40px				
	*/

	color: black !important;
	text-align: center;
	font-size: 2rem;
}

/* id selector starts with # */
/*
	#idName {
	
		property : value;
	}	

*/



#zuitt-motto {
	/* letter-spacing add spaces between characters */
	letter-spacing: 5px;
}

/* class selector starts with .  */
/*
	.className{
		property: value;
	}
*/

/*li {

	font-size: 30px;

}
*/
.offering-item {
	/* text-transform change te case of element  */
	text-transform: uppercase;
	/*font-size: 50px;*/
}

/*#day-class {
	font-size: 100px !important;

}
*/
/*specifity of selectors
id > class > attribute > type > universal (*)

Specifity of Implementation
inline > internal > external

important keyword ovverride the specifit for a declaration

id selector + !important is the most specific declaration


<li class="offering-item" id="day-class" style="font-size: 16px;">Day Classes</li>

*/

/*Attribute selector - select elements with the same tag and attr

	tag[attribute]{
		property: value;
	}
*/

input[required]{
		/*
			border-width set the size or thickness 
			border-style set the style 
			border-color set the color
		*/

		border-width: 2px;
		border-style: solid;
		border-color: navy;
		width: 90%;

		/*
			% percentage is also a measurement in css, it represent a percentage of the parent's width
		*/
}

/*input {

		border-width: 4px;
		border-style: solid;
		border-color: green;
}

.fname-input {

		border-width: 6px;
		border-style: solid;
		border-color: red;
}

#first_name {

		border-width: 10px;
		border-style: solid;
		border-color: yellow;
}*/

/*
	Adjacent Sibling Selector Combinator
	 - select the sibling directly after the first selector

	 firstSelector + adjacentSibling {
		property: value;
	 }

*/
#zuitt-motto + img{

	/*
		height and width = resize elements
			-height and width in CSS is more flexible and can use other measurement other than px
		
		border-radius = round out the corners of elements
	*/

	height: 300px;
	width: 300px;
	border-radius: 150px;

}


/*General Sibling Selector - select element that are siblings that come after of our first element 

firstSelector ~ generalSibling {
	property : value ;
}
	
*/

h2 ~ a {

	text-decoration: none;

}


/*
	Descendant selector - select elements that are descendats of our first element/selector
	

	first Selector descendant {
		property : value;
	}
*/					


#bootcamp-learning-list li   {
	color: green;
}

nav {

	/*
		background-color change the bg color

		display: flex 
			-manipulate  the layout of an element's children
				default arrangement is row

		justify-content:  can change horizontal alignment of element's children

		space between value add remaining space in a parent between it children
		
		we cannot use justify content without display flex
	
	*/

	background-color: white;
	display: flex;
	justify-content: space-between;

}


nav a {

	text-decoration: none;
}

/*
	CSS Child Selector select the children of the first selector or element

	firstSelector > child {
	
	property :value;
	}
*/

section > form > label {
	/*rgb refer to red green and blue , minimum value is 0 , maximum 255
		
	*/
	color: rgb(0, 0, 120);
}

body {

	background-color: skyblue;
}

html {


}

/*selector: hover pseudo class*/
/*changes color when hovered over*/
a:hover {

	background-color: #b4d6de;
}

section {

	/*
		vh is a measurement in CSS. It is a percentage of the total height of the 
		viewport 

		vh = viewport height

		100vh = 100% of your viewport
	*/

	height: 100vh;
	text-align: center;
}


form {
	/* vw = viewport width 
		percentage of the width of your viewport
	  */
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;

	/*center the children horizontally  using flex*/
	display: flex;
	flex-direction: column;
	align-items: center;

}

#register {	

	display: flex;

	/*
		flex-direction :column; arrange the children od a flex parent into column
		
		if we use flex-direction column ; 
			justify-content is now used for vertical alignment
			aligh-items is now used for horizontal alignment


	*/
	flex-direction: column;
	align-items: center;

}

h2 {

	font-size: 1.5rem;
}

ol {

	/* list-style-type: none;  change the list style of our li*/
	list-style-type: none;
}

button {

	background-color:#cf0053 ;
	color: white;
	border: 0;
	border-radius: 15px;
}

button:hover{

	background-color: green;
}