#external-style {

	color: yellow;
}


* {

	font-family: "Verdana", sans-serif;
	font-size: 20px;
}


h1 {

	font-size: 3rem;
}


#header-2 {
	text-transform: uppercase;
}


.language-list {

	background-color: lightgreen;
}

.tools-list {
	border: 2px;
	border-color: skyblue;
	border-style: solid;
}

img + ul {

	list-style-type: none;
}

section img {
	height: 20vh;
	width: 20vh;
	border-radius: 150px;
}

ul ~ p {

	text-align: center;
}

ul > li {
	letter-spacing: 10px;
}